/build/
.gradle/5.6.3/gc.properties
.gradle/5.6.3/executionHistory/executionHistory.bin
.gradle/5.6.3/executionHistory/executionHistory.lock
.gradle/5.6.3/fileChanges/last-build.bin
.gradle/5.6.3/fileContent/fileContent.lock
.gradle/5.6.3/fileHashes/fileHashes.bin
.gradle/5.6.3/fileHashes/fileHashes.lock
.gradle/5.6.3/javaCompile/javaCompile.lock
.gradle/5.6.3/javaCompile/taskHistory.bin
.gradle/buildOutputCleanup/buildOutputCleanup.lock
.gradle/buildOutputCleanup/cache.properties
.gradle/buildOutputCleanup/outputFiles.bin
.gradle/nb-cache/example2-1978604325/project-info.ser
.gradle/vcs-1/gc.properties
.gradle/5.6.3/fileHashes/resourceHashesCache.bin
.gradle/5.6.3/javaCompile/classAnalysis.bin
.gradle/5.6.3/javaCompile/jarAnalysis.bin
